<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIN - s16534 - FormData</title>
    <link rel="stylesheet" type="text/css"   href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="box__header">
                <h1>Task 4B</h1>
                <p>/formdata</p>
            </div>
            <div class="box__body">
                <div class="row m1t">
                    <div class="box__body__fieldInformation information">
                        <p class="information__title">
                            First name
                        </p>
                        <p class="information__value">
                            <%= firstName %>
                        </p>
                    </div>
                    <div class="box__body__fieldInformation information">
                        <p class="information__title">
                            Last name
                        </p>
                        <p class="information__value">
                            <%= lastName %>
                        </p>
                    </div>
                    <div class="box__body__fieldInformation information">
                        <p class="information__title">
                            Age
                        </p>
                        <p class="information__value">
                            <%= age %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="changeTask">
                <div class="previousTask">
                    <a href="form">
                        <span>←</span>
                        Back to form 
                    </a>
                </div>
                <div class="nextTask">
                    <!-- <a href="3e.html">
                        Next task 
                        <span>→</span>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>